In [2]:
    # Import thư viện cần thiết
import requests
import pandas as pd
import numpy as np
import json

In [3]:
# URL API SpaceX (các lần phóng trong quá khứ)
url = "https://api.spacexdata.com/v4/launches/past"

# Gửi yêu cầu GET đến API và nhận dữ liệu JSON
response = requests.get(url)

# Chuyển JSON sang Python dict/list
data = response.json()

# In ra một phần để xem cấu trúc
print(data[0])

{'fairings': {'reused': False, 'recovery_attempt': False, 'recovered': False, 'ships': []}, 'links': {'patch': {'small': 'https://images2.imgbox.com/94/f2/NN6Ph45r_o.png', 'large': 'https://images2.imgbox.com/5b/02/QcxHUb5V_o.png'}, 'reddit': {'campaign': None, 'launch': None, 'media': None, 'recovery': None}, 'flickr': {'small': [], 'original': []}, 'presskit': None, 'webcast': 'https://www.youtube.com/watch?v=0a_00nJ_Y88', 'youtube_id': '0a_00nJ_Y88', 'article': 'https://www.space.com/2196-spacex-inaugural-falcon-1-rocket-lost-launch.html', 'wikipedia': 'https://en.wikipedia.org/wiki/DemoSat'}, 'static_fire_date_utc': '2006-03-17T00:00:00.000Z', 'static_fire_date_unix': 1142553600, 'net': False, 'window': 0, 'rocket': '5e9d0d95eda69955f709d1eb', 'success': False, 'failures': [{'time': 33, 'altitude': None, 'reason': 'merlin engine failure'}], 'details': 'Engine failure at 33 seconds and loss of vehicle', 'crew': [], 'ships': [], 'capsules': [], 'payloads': ['5eb0e4b5b6c3bb0006eeb1e1'], 'launchpad': '5e9e4502f5090995de566f86', 'flight_number': 1, 'name': 'FalconSat', 'date_utc': '2006-03-24T22:30:00.000Z', 'date_unix': 1143239400, 'date_local': '2006-03-25T10:30:00+12:00', 'date_precision': 'hour', 'upcoming': False, 'cores': [{'core': '5e9e289df35918033d3b2623', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}], 'auto_update': True, 'tbd': False, 'launch_library_id': None, 'id': '5eb87cd9ffd86e000604b32a'}

In [4]:
# Chuyển JSON sang DataFrame phẳng (bảng)
df = pd.json_normalize(data)

# Hiển thị 5 dòng đầu
df.head()

,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,failures,details,crew,ships,...,links.reddit.media,links.reddit.recovery,links.flickr.small,links.flickr.original,links.presskit,links.webcast,links.youtube_id,links.article,links.wikipedia,fairings
0,2006-03-17T00:00:00.000Z,1.142554e+09,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 33, 'altitude': None, 'reason': 'mer...",Engine failure at 33 seconds and loss of vehicle,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=0a_00nJ_Y88,0a_00nJ_Y88,https://www.space.com/2196-spacex-inaugural-fa...,https://en.wikipedia.org/wiki/DemoSat,NaN
1,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 301, 'altitude': 289, 'reason': 'har...",Successful first stage burn and transition to ...,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=Lk4zQ2wP-Nc,Lk4zQ2wP-Nc,https://www.space.com/3590-spacex-falcon-1-roc...,https://en.wikipedia.org/wiki/DemoSat,NaN
2,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 140, 'altitude': 35, 'reason': 'resi...",Residual stage 1 thrust led to collision betwe...,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=v0w9p3U8860,v0w9p3U8860,http://www.spacex.com/news/2013/02/11/falcon-1...,https://en.wikipedia.org/wiki/Trailblazer_(sat...,NaN
3,2008-09-20T00:00:00.000Z,1.221869e+09,False,0.0,5e9d0d95eda69955f709d1eb,True,[],Ratsat was carried to orbit on the first succe...,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=dLQ2tZEH6G0,dLQ2tZEH6G0,https://en.wikipedia.org/wiki/Ratsat,https://en.wikipedia.org/wiki/Ratsat,NaN
4,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,True,[],None,[],[],...,None,None,[],[],http://www.spacex.com/press/2012/12/19/spacexs...,https://www.youtube.com/watch?v=yTaIDooc8Og,yTaIDooc8Og,http://www.spacex.com/news/2013/02/12/falcon-1...,https://en.wikipedia.org/wiki/RazakSAT,NaN

In [5]:
# Kiểm tra thông tin cột và giá trị null
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 43 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   static_fire_date_utc       121 non-null    object
 1   static_fire_date_unix      121 non-null    float64
 2   net                        187 non-null    bool
 3   window                     117 non-null    float64
 4   rocket                     187 non-null    object
 5   success                    186 non-null    object
 6   failures                   187 non-null    object
 7   details                    134 non-null    object
 8   crew                       187 non-null    object
 9   ships                      187 non-null    object
 10  capsules                   187 non-null    object
 11  payloads                   187 non-null    object
 12  launchpad                  187 non-null    object
 13  flight_number              187 non-null    int64
 14  name                       187 non-null    object
 15  date_utc                   187 non-null    object
 16  date_unix                  187 non-null    int64
 17  date_local                 187 non-null    object
 18  date_precision             187 non-null    object
 19  upcoming                   187 non-null    bool
 20  cores                      187 non-null    object
 21  auto_update                187 non-null    bool
 22  tbd                        187 non-null    bool
 23  launch_library_id          69 non-null     object
 24  id                         187 non-null    object
 25  fairings.reused            93 non-null     object
 26  fairings.recovery_attempt  107 non-null    object
 27  fairings.recovered         85 non-null     object
 28  fairings.ships             152 non-null    object
 29  links.patch.small          187 non-null    object
 30  links.patch.large          187 non-null    object
 31  links.reddit.campaign      148 non-null    object
 32  links.reddit.launch        164 non-null    object
 33  links.reddit.media         88 non-null     object
 34  links.reddit.recovery      93 non-null     object
 35  links.flickr.small         187 non-null    object
 36  links.flickr.original      187 non-null    object
 37  links.presskit             91 non-null     object
 38  links.webcast              185 non-null    object
 39  links.youtube_id           185 non-null    object
 40  links.article              142 non-null    object
 41  links.wikipedia            155 non-null    object
 42  fairings                   0 non-null      float64
dtypes: bool(4), float64(3), int64(2), object(34)
memory usage: 57.8+ KB

static_fire_date_utc          66
static_fire_date_unix         66
net                            0
window                        70
rocket                         0
success                        1
failures                       0
details                       53
crew                           0
ships                          0
capsules                       0
payloads                       0
launchpad                      0
flight_number                  0
name                           0
date_utc                       0
date_unix                      0
date_local                     0
date_precision                 0
upcoming                       0
cores                          0
auto_update                    0
tbd                            0
launch_library_id            118
id                             0
fairings.reused               94
fairings.recovery_attempt     80
fairings.recovered           102
fairings.ships                35
links.patch.small              0
links.patch.large              0
links.reddit.campaign         39
links.reddit.launch           23
links.reddit.media            99
links.reddit.recovery         94
links.flickr.small             0
links.flickr.original          0
links.presskit                96
links.webcast                  2
links.youtube_id               2
links.article                 45
links.wikipedia               32
fairings                     187
dtype: int64

In [6]:
# Lọc chỉ những lần phóng có tên chứa "Falcon 9"
df = df[df['name'].str.contains("Falcon 9", case=False, na=False)]

# Reset lại chỉ mục
df = df.reset_index(drop=True)

# Kiểm tra lại kết quả
df[['name', 'rocket']].head()

                   name                    rocket
0  Falcon 9 Test Flight  5e9d0d95eda69973a809d1ec

In [7]:
import requests
import pandas as pd

# Lấy danh sách rocket từ API
rockets_url = "https://api.spacexdata.com/v4/rockets"
rockets = requests.get(rockets_url).json()

rockets_df = pd.json_normalize(rockets)
rockets_df[["id", "name"]]

                         id          name
0  5e9d0d95eda69955f709d1eb      Falcon 1
1  5e9d0d95eda69973a809d1ec      Falcon 9
2  5e9d0d95eda69974db09d1ed  Falcon Heavy
3  5e9d0d96eda699382d09d1ee      Starship

In [8]:
# Lấy dữ liệu launch
launches_url = "https://api.spacexdata.com/v4/launches/past"
launches = requests.get(launches_url).json()
launches_df = pd.json_normalize(launches)

# Lọc các dòng có rocket ID trùng với Falcon 9
falcon9_id = "5e9d0d95eda69973a809d1ec"
falcon9_df = launches_df[launches_df["rocket"] == falcon9_id].reset_index(drop=True)

falcon9_df[["name", "date_utc", "rocket"]].head()

                   name                  date_utc                    rocket
0  Falcon 9 Test Flight  2010-06-04T18:45:00.000Z  5e9d0d95eda69973a809d1ec
1                COTS 1  2010-12-08T15:43:00.000Z  5e9d0d95eda69973a809d1ec
2                COTS 2  2012-05-22T07:44:00.000Z  5e9d0d95eda69973a809d1ec
3                 CRS-1  2012-10-08T00:35:00.000Z  5e9d0d95eda69973a809d1ec
4                 CRS-2  2013-03-01T19:10:00.000Z  5e9d0d95eda69973a809d1ec

In [9]:
# Kiểm tra cột nào có giá trị null
df.isnull().sum()

# Nếu có cột 'payload_mass_kg' (hoặc tương tự), thay null bằng giá trị trung bình
if 'payload_mass_kg' in df.columns:
    mean_mass = df['payload_mass_kg'].mean()
    df['payload_mass_kg'].fillna(mean_mass, inplace=True)

# Giữ nguyên các cột như 'landingpad' nếu null (vì không dùng bãi đáp)
df.head()

,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,failures,details,crew,ships,...,links.reddit.media,links.reddit.recovery,links.flickr.small,links.flickr.original,links.presskit,links.webcast,links.youtube_id,links.article,links.wikipedia,fairings
0,2010-03-13T00:00:00.000Z,1.268438e+09,False,0.0,5e9d0d95eda69973a809d1ec,True,[],None,[],[],...,None,None,[],[],http://forum.nasaspaceflight.com/index.php?act...,https://www.youtube.com/watch?v=nxSxgBKlYws,nxSxgBKlYws,http://www.spacex.com/news/2013/02/12/falcon-9...,https://en.wikipedia.org/wiki/Dragon_Spacecraf...,NaN

In [10]:
# Chọn các cột quan trọng phục vụ phân tích
selected_columns = ["name", "date_utc", "rocket", "success", "details", "links.webcast"]
df_cleaned = df[selected_columns]

# Hiển thị bảng kết quả cuối
df_cleaned.head(10)

,name,date_utc,rocket,success,details,links.webcast
0,Falcon 9 Test Flight,2010-06-04T18:45:00.000Z,5e9d0d95eda69973a809d1ec,True,None,https://www.youtube.com/watch?v=nxSxgBKlYws

In [12]:
# Lưu dữ liệu đã xử lý ra file CSV
df_cleaned.to_csv("spacex_cleaned_data.csv", index=False)

print("Dữ liệu sạch đã lưu thành công: spacex_cleaned_data.csv")

Dữ liệu sạch đã lưu thành công: spacex_cleaned_data.csv